body{
  background-color: rgba(215, 234, 226, 0.4);
  font-family: 'Barlow Condensed', sans-serif;
  color: rgb(65, 65, 65);
  font-size: 20px;
  line-height: 1.6;
}

h1{
  color: #dc5655;
  text-align: center;
}
h2,h3{
  font-weight: 300;
  text-align: center;
}
a{
  text-decoration: none;
  color: #821b1b;
  padding: 5px;
}

a:hover{
  color: #d39696;
}

.image-round{
  width: 250px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-movie{
  width: 450px;
  margin: 10px;
}

.container{
  width: 700px;
  margin: 0 auto;
}

.card{
  display: block;
  text-align: center;
  width: 700px;
  margin: 0 auto;
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 5px;
}

.btn-red{
  background-color: #dc5655;
  color: white;
  padding: 5px;
  border-radius: 3px;
}

li {
  display: inline-block;
  padding-left: 0;
  font-size: 25px;
}

ul {
  padding-left: 0;
}

.movie-title{
  font-weight: 600;
}

